

.heart {
    display: inline-block;
    position: relative;
}

.heart-icon {
    height: 40px;
    width: auto;
    vertical-align: middle;
    animation: latir 0.8s ease-in-out alternate infinite;
}

@keyframes latir {
    100% {
        transform: scale(1.3);
    }
}
