.grid-container {

  margin: 0 auto;
}

.grid-item {
  
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: lightgray;
  position: relative;
}

.grid-item:hover  .overlay{
  filter: opacity(0.9);
}

.grid-item img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc; 
}