.inicio {
  background-color: #020202;
}

.titulo {
  color: white;
}

.Nombre {
  color: rgb(244, 225, 198);
  font-size: 80.3px;
  color: antiquewhite;
  font-family: "Rubik Microbe", cursive;
  margin-bottom: 0;
}

.subtitulo {
  color: white;
  font-size: 22px;
  font-family: "Satisfy", cursive;
}

.galeria {
  columns: 4 320px;
}

img {
  max-width: 100%;
}

.texto1 {

  font-family: "Fredericka the Great", cursive;
  font-size: 25px;
  padding: 5%;
}

.contenedorcard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-color: white;
}

.cardalex {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 4%;
}

.cardalex .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.cardalex .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #020202;
}

.cardalex .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardalex .back {
  padding: 2%;
  transform: perspective(600px) rotateY(180deg);
  flex-direction: column;
  /*justify-content: space-between;
    align-items: center;*/
  box-shadow: 0 5px 10px #020202;
  text-align: justify;
}

.cardalex:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.cardalex:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.textocontenido {
  font-size: 20px;
  font-family: "Kalam", cursive;
}